@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* DEFAULT STYLING CONFIGURATION */

* {font-family: 'Inter', sans-serif; box-sizing: border-box; margin: 0; padding: 0; border: 0; text-decoration: none;}

h1 {font-weight: 700;}

h2 {font-weight: 600;}

h3 {font-weight: 500;}

p {font-weight: 400;}

a {font-weight: 400;}

/* NAV CONFIG */

header {
    position: sticky, -webkit-sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    background-color: #fff;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-bottom-width: 1px;
    border-color: #ddd;
    border-bottom-style: solid;
}

.nav_logo img{
    height: 54px;
}

.nav_menu {
    display: flex;
}

.nav_menu a {
    padding: 20.5px 12px;
    font-size: 14px;
    color: #222;
} .nav_menu a:hover {color: #013399; padding: 20.5px 12px 18.5px 12px; border-color: #013399; border-bottom-width: 2px; border-bottom-style: solid;}